<section class="w-5/6 md:w-1/2 lg:w-1/2 lg:h-screen mx-12 my-6 lg:mx-0 p-6 flex flex-col items-center justify-center justify-self-center rounded-lg lg:rounded-none bg-neutral-100 lg:bg-[#ffffff] lg:bg-[radial-gradient(at_40%_20%,hsla(28,100%,74%,0.5)_0px,transparent_50%),radial-gradient(at_80%_0%,hsla(189,100%,56%,0.5)_0px,transparent_50%),radial-gradient(at_0%_50%,hsla(355,100%,93%,0.5)_0px,transparent_50%),radial-gradient(at_80%_50%,hsla(340,100%,76%,0.5)_0px,transparent_50%),radial-gradient(at_0%_100%,hsla(22,100%,77%,1)_0px,transparent_50%),radial-gradient(at_80%_100%,hsla(242,100%,70%,1)_0px,transparent_50%),radial-gradient(at_0%_0%,hsla(343,100%,76%,1)_0px,transparent_50%)]">
    <div class="w-full lg:w-full max-w-sm py-12 px-8 bg-white rounded-lg">
        <h2 class="text-xl font-bold text-gray-700 text-center">Log In</h2>

        <form id='login-form' method="post" ">
            {% csrf_token %}

            <div class="flex w-full max-w-xs flex-col py-2 gap-1 text-neutral-600">
                <label for="{{ form.username.id_for_label }}" class="w-fit pl-0.5 text-sm">Username</label>
                <input id="{{ form.username.id_for_label }}" type="text" class="w-full rounded-md border border-neutral-300 bg-neutral-50 px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75" name="username" placeholder="Enter your username" autocomplete="username" value="{{ form.username.value|default:'' }}" />
                {% if form.username.errors %}
                    <p class="text-red-500 text-xs">{{ form.username.errors.as_text }}</p>
                {% endif %}
            </div>

            <div class="flex w-full max-w-xs flex-col gap-1 text-neutral-600">
                <label for="{{ form.password.id_for_label }}" class="w-fit pl-0.5 text-sm">Password</label>
                <div x-data="{ showPassword: false }" class="relative">
                    <input x-bind:type="showPassword ? 'text' : 'password'" id="{{ form.password.id_for_label }}" class="w-full rounded-md border border-neutral-300 bg-neutral-50 px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75" name="password" placeholder="Enter your password" autocomplete="current-password" />
                    <button type="button" x-on:click="showPassword = !showPassword" class="absolute right-2.5 top-1/2 -translate-y-1/2 text-neutral-600" aria-label="Show password">
                        <svg x-show="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                        <svg x-show="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke-currentColor" aria-hidden="true" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                        </svg>
                    </button>
                </div>
                {% if form.password.errors %}
                    <p class="text-red-500 text-xs">{{ form.password.errors.as_text }}</p>
                {% endif %}
            </div>

            {% include "partials/_button.html" with label='Log in' type='submit' %}
        </form>

        <p class="mt-4 text-sm text-center text-gray-600">Don’t have an account? <a href="{% url 'accounts:signup' %}"  class="text-blue-500 hover:underline">Sign up</a></p>

        <div id="login-alert" class="hidden relative w-full overflow-hidden rounded-md border mt-6 border-red-500 bg-white text-neutral-600" role="alert">
            <div class="flex w-full items-center gap-2 bg-red-500/10 p-4">
                <div class="bg-red-500/15 text-red-500 rounded-full p-1" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM8.28 7.22a.75.75 0 0 0-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 1 0 1.06 1.06L10 11.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L11.06 10l1.72-1.72a.75.75 0 0 0-1.06-1.06L10 8.94 8.28 7.22Z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="ml-2">
                    <h3 class="text-sm font-semibold text-red-500">Error while trying to log in</h3>
                    <p id="login-alert-message" class="text-xs font-medium sm:text-sm"></p>
                </div>
            </div>
        </div>

        <div id="success-alert" class="hidden relative w-full overflow-hidden rounded-md border border-green-500 bg-surface text-on-surface dark:bg-surface-dark dark:text-on-surface-dark" role="alert">
    <div class="flex w-full items-center gap-2 bg-success/10 p-4">
        <div class="bg-green-500/15 text-green-500 rounded-full p-1" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
            </svg>
        </div>
        <div class="ml-2">
            <h3 id = "success-alert-title" class="text-sm font-semibold text-success">Success!</h3>
            <p id = "success-alert-message" class="text-xs font-medium sm:text-sm">Success!</p>
        </div>
    </div>
</div>
    </div>

   <script>
    document.getElementById('login-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            const alertDiv = document.getElementById('login-alert');
            const alertMessage = document.getElementById('login-alert-message');
            const successAlert = document.getElementById('success-alert');
            const successTitle = document.getElementById('success-alert-title');
            const successMessage = document.getElementById('success-alert-message');

            if (data.success) {
                alertDiv.classList.add('hidden');
                successTitle.textContent = "Login Successful!";
                successMessage.textContent = "Redirecting...";
                successAlert.classList.remove('hidden');

                setTimeout(function() {
                    window.location.replace(data.redirect);
                }, 2000); // Redirect after 2 seconds
            } else {
                alertDiv.classList.remove('hidden');
                alertMessage.textContent = '';
                for (let field in data.errors) {
                    alertMessage.textContent += `${field}: ${data.errors[field].join(', ')}\n`;
                }
                return;
            }
        })
        .catch(error => {
            console.error('Error:', error);
            const alertDiv = document.getElementById('login-alert');
            const alertMessage = document.getElementById('login-alert-message');
            alertDiv.classList.remove('hidden');
            alertMessage.textContent = 'An unexpected error occurred.';
        });
    });
</script>

</section>