{% load static %}
<section class="text-center p-20 lg:h-screen sm:h-1/2 sm:w-full lg:w-1/2 items-center justify-center align-middle flex">
  <div class="justify-center lg:justify-start align-middle lg:items-start items-center content-center flex flex-col lg:ml-20">
    <img src="{% static 'images/medminder.png' %}" alt="MedMinder Logo" class="h-6 lg:h-8 mt-2 mb-8 lg:mb-40 lg:-translate-y-10 align-middle" />
    <h1 class="lg:w-2/3 py-2 text-4xl lg:text-5xl font-normal text-gray-800 align-middle lg:text-left lg:-translate-y-20 sm:text-center">Your partner in managing health, <br /> one dose at a time.</h1>
  </div>
</section>
