
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Reminder</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="h-screen flex items-center justify-center flex-col">
    <h3 class="text-lg text-gray-700 mb-4 text-center absolute top-32"> {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h3>
    <main >
        <form action="" method="post">{% csrf_token %}
            <div class="bg-white p-8 rounded-lg w-full max-w-md border border-gray-300 align-start">
            {{ wizard.management_form }}

            {% if wizard.form.errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                    <strong class="font-bold">Error!</strong>
                    <span class="block sm:inline">{{ wizard.form.errors }}</span>
                </div>
            {% endif %}

            {% block wizard_content %}
            <div class="space-y-4">
                {% for field in wizard.form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="block text-gray-700 font-medium mb-2">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.help_text %}
                            <p class="text-gray-500 text-xs mt-1">{{ field.help_text }}</p>
                        {% endif %}
                        {% if field.errors %}
                            <p class="text-red-500 text-xs italic mt-1">{{ field.errors.0 }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endblock %}
            </div>

            <div class="flex justify-center justify-self-center mt-6">
                <input type="submit" 
                       value="{% if wizard.steps.current == "confirmation" %}{% translate "Create Reminder" %}{% else %}{% translate "Next" %}{% endif %}" 
                       class="{% if wizard.steps.current == "confirmation" %}bg-green-500 hover:bg-green-600{% else %}bg-gray-800 hover:bg-gray-600{% endif %} text-white py-2 px-6 rounded-full focus:outline-none focus:shadow-outline" />
            </div>
        </form>
    </main>
    {% block extra_scripts %}{% endblock %}
</body>
</html>