<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body>
    <main>
      <div class="flex lg:flex-row flex-col items-center justify-center w-screen h-screen">
      {% block content %}
      <!-- This is where landing.html's content will go -->
      {% endblock %}
      </div>
    </main>
  </body>
</html>
